.example-spacer {
    flex: 1 1 auto;
  }
.tool-bar{
   background-color: blue;

}
button{
    color: brown;
    background-color: rgb(154, 165, 187);
    border-radius: 8px;
    border-style: none;
    margin: 10px;
}
 .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }