<p>nav works!</p>
<mat-toolbar class="tool-bar">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <span>Allu Store</span>
    </mat-card-header>
    
    
    <span class="example-spacer"></span>
    <a class="p-2 text-dark" [routerLink]="['/shop']">Shop</a>
    <a class="btn btn-primary" [routerLink]="['/register']">Sign up</a>
    <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-button><a class="github-link" href="https://github.com/AnkitSharma-007/bookcart"
      target="_blank"><i class="fa fa-github"></i> GitHub</a>
      <mat-icon>person</mat-icon>
  </button>
  
  </mat-toolbar>

